header {
  padding: 38px 16px;
}

.header__title {
  color: #009688;
  vertical-align: top;
  font-family: PT Serif;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
}

main {
  padding: 0 38px 122px;
}

.card__item {
  height: 100%;
  padding: 73px 32px 31px;
}


.card__list {
  max-height: 244px;
  list-style: none;
  font-size: 18px;
  border-radius: 8px;
  background-color: #5ecabf;
}

.pattern {
  height: 100%;
  border-radius: 8px;
}

.pattern_ellipse {
  background: url('../png/ellipse.png');
}

.pattern_line {
  background: url('../png/line.png');
}

.pattern_gor {
  background: url('../png/lineTop.png');
}

.card__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  z-index: 1;
}


.shadow {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 8px;
  height: 100%;
}

 .normal_green_light {
  background-color: #5ecabf;
}

.normal_green_dark {
  background: #009688;
}

.normal_orange {
  background: #ee7e4a;
}

.slick-dots li button{
  width: 6px;
height: 6px;
}

.slick-prev::before, .slick-next::before {
  display: none;
}

/* .slick-track {
  height: 244px;
} */

@media screen and (min-width: 768px) {
  header {
    padding: 56px 40px 40px;
  }

  .header__title {
    font-size: 32px;
    line-height: 48px;
  }

  main {
    padding: 0 40px 152px;
  }

  .card__item {
    height: 100%;
    padding: 201px 0px 31px;
    
  }

  .card__item:nth-child(odd){
    margin-right: 32px;
  }

  .card__list {
    flex-basis: 47.7%;
    max-height: 328px;
  }

  .card__list {
    margin-bottom: 32px;
  }

  .card__text {
    font-size: 20px;
    line-height: 32px;
  }

   .slick-prev::before, .slick-next::before {
    display: block;
  }

  .slick-slider > .slick-prev, .slick-next {
    top: 105%;
    height: 48px;
    width: 48px;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 48px;
  }

  .slick-prev {
    left: 240px;
  }

  .slick-next {
    right: 240px;
  }

  .slick-slide {
    /* margin-right: 32px; */
    height: auto;
  }

  .slick-slide div {
    margin-bottom: 31px;
  }

  /* div .slick-track {
    height: 800px;
  } */

  .slick-dots li button{
    width: 6px;
  height: 6px;
  }

  /* .slick-track {
    margin-bottom: 32px;
    height: 328px;
  } */
}

@media screen and (min-width: 1200px) {
  .header__title {
    font-size: 40px;
    line-height: 56px;
  }

  main {
    padding: 0 40px 152px;
  }

  .card__list {
    flex-basis: 31.5%;
    max-height: 352px;
  }
}
