$color-write: #fff;
$color-background: #162b4d;
$color-background-header: #2f5d93;
$color-logo: #b71757;
$color-post2: #0D7E71;
$color-post3: #b1660e;
$color-post4:#d12767;
$color-post5: #2d95bb;
$color-body: #555252;
$color-background-body: #0b192f;
$color-section-text: #ffffff80;
$color-aside-text: #0b192fcc;
