
html {
    box-sizing: border-box;
  }

  p, span, div, img {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    background: url('../../build/img/m-h-day.jpg') no-repeat center top fixed ;
    background-size: cover;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  header, main, footer {
    margin: 0 auto;
    min-width: px-to-rem(320px);
  }

  

  










 


    
