.section {
    padding: px-to-rem(60px) px-to-rem(190px) px-to-rem(190px) px-to-rem(260px); 
    .section_text {  
        padding-bottom: px-to-rem(56px);  
        font-weight: map-get($font-weight, regular); 
        font-size: px-to-rem(52px);
        transform: translate(50% 50%);
        &::after {
          @include underline(inline, absolute, '', -1);
          width: px-to-rem(236px); 
          height: px-to-rem(16px);  
          bottom: px-to-rem(66px);
      }
    }
  
    .section_card_wrap {
        width: px-to-rem(1536px); 
        @include flex ('all');
  
        .section_card {
            border-radius: px-to-rem(6px); 
            padding: px-to-rem(25px) px-to-rem(25px)  px-to-rem(25px) px-to-rem(30px); 
            .section_card_img{
                height: px-to-rem(300px);
                border-radius: px-to-rem(4px); 
            }
            .section_card_heading{
              padding: px-to-rem(25px) 0 px-to-rem(25px) 0;
              font-weight: map-get($font-weight, regular); 
              font-size: px-to-rem(30px);
              &::after{
                @include underline(inline, absolute, '', -1);
                height: px-to-rem(16px);    
                bottom: px-to-rem(30px);
              }
            }
            p{
              font-weight: map-get($font-weight, regular); 
              font-size: px-to-rem(20px);
                          }
        }
      }
  
    .section_banner {
      border-radius: px-to-rem(10px);
        height: px-to-rem(178px);  
        width: px-to-rem(1200px); 
        @include flex ('all');
        padding: px-to-rem(40px) px-to-rem(126px) px-to-rem(50px) px-to-rem(128px); 
        .section_banner_text_wrap{
            .section_banner_heading{
              padding-bottom: px-to-rem(25px);  
              font-weight: map-get($font-weight, regular); 
              font-size: px-to-rem(40px); 
              &::after{
                @include underline(block, absolute, '', -1);
                left: px-to-rem(158px); 
                width: px-to-rem(82px); 
                height: px-to-rem(16px);    
                bottom: px-to-rem(30px);
              } 
            }
  
            .section_banner_text{
              font-weight: map-get($font-weight, regular); 
              font-size: px-to-rem(20px);
              text-align: start;
            }
            
        }
        .section_banner_button{
          @extend %btn;
        }
    }
  }