$fontFamilySoursSansPro: 'Source Sans Pro',
sans-serif;
$fontFamilyHind: 'Hind',
sans-serif;
$fontFamilyFresca: 'Fresca',
sans-serif;
$fontWeightBold: 700;
$fontWeightRegular: 600;
$fontWeightLightItalic: 400;
$minHeight: 100vh;
$baseFontSize: 16px;
$minWidth: 960px;
$colorBtnBunnerLeft: #699900;
$colorBunnerRight: #2c5adc;
$bcgFooter: #21232e;
$colorUnderline: #14a0c7;
$colorSubtitle: #c0c3ce;
$colorText: #2c2f3c;
$contentBackground: #fff;
$colorBtn: #fff;

